<a href="https://colab.research.google.com/github/Zohir011011/Python_Basics/blob/main/Chapter_2_Variables%26DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Lets start coding something in python

In [ ]:
print("Hello World")

Hello World

**Variable**

Variable holds value. When we call a variable, python interpreter use the value associated with the variable.

In [ ]:
variable = "Hello World"
var = "This is a variable"
x = 5
y = 100.10
a, b, c = 10, 22, "Number"

print(var)
print()
print(x)
print()
print(b)

This is a variable

5

22

**Note:**

We have remeber some rules & regulations creating variable.


1.  Variable names can contain only letters, numbers, and underscores. They can start with a letter or an underscore, but not with a number. For instance, we can call a variable **message_1** but not **1_message**.

1.   Spaces are not allowed in variable names, but underscores can be used to separate words in variable names. For example, **greeting_message** works, but **greeting message** will cause errors.

1.   Avoid using Python keywords and function names as variable names.
2.   Variable names should be short but descriptive.


2.   Be careful when using the letters (lowercase or uppercase) Python is a case sensitive programing language.

In [ ]:
#Question_2.1: Store a message in a variable and print that message
message_1 = "This is a python carsh course book"
print(message_1)

This is a python carsh course book

In [ ]:
#Question_2.2: Store a message in a variable and print it. Then change the value of the variable to a new message and print it.
message_1 = "Python is an easy language for coding"
print(message_1)

message_2 = "Python is a useful language for data science"
print(message_2)

Python is an easy language for coding
Python is a useful language for data science

**String**

A string is simply a series of characters. Anything inside quotes is considered a string in Python, and we can use single or double quotes around our strings. But it is better if we use double quotes in python.

In [ ]:
print("This is a string")
print('This is also a string')
print("Number can be string too, 1, 2, 3 etc")
print("*, #, -, a, 5 etc anything we write between quotes will be considered as string")

This is a string
This is also a string
Number can be string too, 1, 2, 3 etc
*, #, -, a, 5 etc anything we write between quotes will be considered as string

**Some string methods**


*   title()---Converts the first character of each word to upper case
*   upper()---Converts a string into upper case

*   lower()---Converts a string into lower case
*   strip()---Returns a trimmed version of the string

*  rstrip()---Returns a right trim version of the string
*  lstrip()---Returns a left trim version of the string

*   split()---Splits the string at the specified separator, and returns a list
*   replace()---Returns a string where a specified value is replaced with a specified value

*   join()---Converts the elements of an iterable (list, tuple, dict) into a string
*   index()---Searches the string for a specified value and returns the position of where it was found

*   find()---Searches the string for a specified value and returns the position of where it was found
*   count()---Returns the number of times a specified value occurs in a string

*   capitalize()---Converts the first character to upper case

In [ ]:
str_1 = "this is a string for string methods"
str_2 = "THIS IS A STRING FOR STRING METHODS"
str_3 = "abcdefghijklmnopqrstuvwxyz"
str_4 = "agndhsjshsnsnds"
str_5 = "        abcdefghijk       "
str_6 = "Python/java/c/html"
tuple_1 = ("python", "java", "C", "R")


print(str_1.title())                   #title()
print(str_2.capitalize())              #capitalize()
print(str_1.upper())                   #upper()
print(str_2.lower())                   #lower()
print(str_5.strip())                   #strip()
print(str_5.lstrip())                  #lstrip()
print(str_5.rstrip())                  #rstrip()
print(str_4.count("s"))                #count()
print(str_3.find("i"))                 #find()
print(str_3.index("d"))                #index()
print(str_6.split("/"))                #split()
print(str_6.replace("Python", "R"))    #replace()
print("/".join(tuple_1))               #join()

This Is A String For String Methods
This is a string for string methods
THIS IS A STRING FOR STRING METHODS
this is a string for string methods
abcdefghijk
abcdefghijk
        abcdefghijk
5
8
3
['Python', 'java', 'c', 'html']
R/java/c/html
python/java/C/R

**String Conctenation**

In [ ]:
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name
print(full_name)

print("Hello, " + full_name.title() + "!")

#we can do this concatenation using f string
print(f"Hello, {first_name.title()} {last_name.title()}!")

ada lovelace
Hello, Ada Lovelace!
Hello, Ada Lovelace!

**Scape Character**


*   \t---use for inserting a white space or tab
*   \n---uer for new line

In [ ]:
print("AdaLove")
print("Ada\tLove")

print("Python,Java,C,HTML")
print("Python,\nJava,\nC,\nHTML")

AdaLove
Ada	Love
Python,Java,C,HTML
Python,
Java,
C,
HTML

**String Slicing**

Python considers the first element in a string to be at position 0, second element is 1, third element is 2,...... We have to call an element by its index number.

In [ ]:
number = "123456789" # here index number of 1 is 0, 2 is 1, 3 is 2,... is 8
print(number[0])
print(number[1])
print(number[2])
print(number[8])

1
2
3
9

we can specify the first element and the last element to extract

In [ ]:
print(number[1:7])

234567

we can tell python if we want to not extract some number bet the range

In [ ]:
print(number[0:9:2])
print(number[1:9:2])

13579
2468

we can extract elements using negative indexing

here -1 is 9, -2 is 8, -3 is 7, -4 is 6, -5 is 5, -6 is 4, -7 is 3, -8 is 2, -9 is 1

In [ ]:
print(number[-5:-1])
print(number[-9:-1])
print(number[-10:-1:2])

5678
12345678
1357

**Avoid Syntax Error with String**

One kind of error that you might see with some regularity is a syntax error. A syntax error occurs when Python doesn’t recognize a section of your program as valid Python code

In [ ]:
 right_use_of_syntax = "One of Python's strengths is its diverse community."
print(right_use_of_syntax)

One of Python's strengths is its diverse community.

In [ ]:
wrong_use_of_syntax = 'One of Python's strengths is its diverse community.'
print(wrong_use_of_syntax)

SyntaxError: ignored

In [ ]:
#Queation_2.3  Store a person’s name in a variable, and print a message to that person.
Name = "Jhon"
print("Hello " + Name +", would you like to learn some python today?")

Hello Jhon, would you like to learn some python today?

In [ ]:
#Question_2.4 Store a person’s name in a variable, and then print that person’s name in lowercase, uppercase, and titlecas
Name = "David Warner"
print(Name.lower())
print(Name.upper())
print(Name.title())

david warner
DAVID WARNER
David Warner

In [ ]:
#Question_2.5  Find a quote from a famous person you admire. Print the quote and the name of its author.
print("Albert Einstein once said, \"A person who never made a mistake never tried anything new.\"")

Albert Einstein once said, "A person who never made a mistake never tried anything new."

In [ ]:
#Question_2.6 Repeat Exercise 2.5, but this time store the famous person’s name in a variable called famous_person. Then compose your message and store it in a new variable called message. Print your message.
Name = "Albert Einstein"
Message = "\"A person who never made a mistake never tried anything new.\""
print(Name + " once said, " + Message)
print(f"{Name} once said, {Message}")

Albert Einstein once said, "A person who never made a mistake never tried anything new."
Albert Einstein once said, "A person who never made a mistake never tried anything new."

In [ ]:
"""Question_2.7 : Store a person’s name, and include some whitespace
characters at the beginning and end of the name. Make sure you use each
character combination, "\t" and "\n", at least once.
Print the name once, so the whitespace around the name is displayed.
Then print the name using each of the three stripping functions, lstrip(),
rstrip(), and strip()"""

Name = "\tAlbert\nEinstein\t"
print(Name)
print(Name.lstrip())
print(Name.rstrip())
print(Name.strip())

	Albert
Einstein
Albert
Einstein
	Albert
Einstein
Albert
Einstein

**Numbers / int**

In [ ]:
print(2+3)
print(2*3)
print(3-2)
print(6/3)
print(2**2)
print(5%3)

5
6
1
2.0
4
2

**Decimal/Float**

In [ ]:
print(2.3+2.3)
print(2.3*2.3)

4.6
5.289999999999999

**Type Error**

we can add strings data using + sign.

we also can add intigers data using + sign.

but we can't add strings data and intigers data using + sign.

In [ ]:
print("David " + "Warner")
print(2+3)

David Warner
5

In [ ]:
print("David" + 30)

TypeError: ignored

In [ ]:
#Question_2.7 Store your favorite number in a variable. Then, using that variable, create a message that reveals your favorite number. Print that message.
FavouriteNumber = 33.33
print("This is my favourite number: " + str(FavouriteNumber))

This is my favourite number: 33.33